        * {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }

        ul {
            list-style: none;
            display: flex;
            width: 35%;
            justify-content: space-between;
            align-self: center;
        }

        .combobox {
            display: flex;
        }

        .profile-image {
            width: 50px;
            height: 50px;
        }

        .drop-image {
            width: 20px;
            height: 20px;
            align-self: center;
            padding-left: 5px;
        }

        .data-format {
            display: flex;
            justify-content: space-between;
            box-shadow: 0px 3px #DADADA;
            padding: 5px;
            padding-left: 40px;
            margin:10px 0px;
        }

        .icon-image {
            width: 50px;
            height: 50px;
        }
        .button {
            padding: 10px;
            background-color: #00BECF;
            border-radius: 50%;
            border: 0px;
            color: #FFFFFF;
            font-size: 30px;
            width: 60px;
        }

        .add-section {
            display: flex;
            border: 6px dotted #D5CBCB;
            justify-content: center;
            padding: 30px;
        }

        .data-source {
            display: flex;
        } 

        .container {
            padding: 20px;
            margin: 20px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
        }
        .down-arrow{
            width:20px;
            height: 20px;
            padding-right:8px;
        }
        .button-done{
            display:flex;
            justify-content: space-between;
            padding-top: 100px;
        }
        .button-border{
            padding:10px;
            background-color: #32BDD2;
            color: #FFFFFF;
            border:1px #000000; 
            border-radius: 5px;
            width:100px;    
            font-size: 20px; 
            font-weight: bold;         
        }
        .content{
            border: 3px solid #F0F0F0;
        }
