        *{
            padding: 0px;
            margin:0px;
            box-sizing: border-box;
        }
        .profile {
            width: 50px;
            height: 50px;
        }

        .drop-down {
            width: 20px;
            height: 20px;
            align-self: center;
            padding-left: 8px;
        }
        .data {
            display: flex;
            padding: 10px;
            box-shadow: 0px 3px #DADADA;
            justify-content: space-between;
            padding-left:40px;
            margin: 10px 0px;
        }
        .box{
            display: flex;
        }
        ul{
            display: flex;
            list-style: none;
            justify-content: space-between;
            width: 35%;
            align-self: center;
        }
       .courses{
           border-bottom:4px solid #00BECF;
           font-weight: bold;
           font-size: 30px;
       }
       .drop-image{
           width:20px;
           height: 20px;
       }
        .data-form{
           padding: 6px;
           width:50%;
           border-radius: 5px;
           border:1px solid #000000;
           font-size: 30px;
       }
       .text{
           width: 50%;
           border-radius: 5px;
           border:1px solid #000000;
           font-size: 30px;
       }
       .style-data{
           display: flex;
           justify-content: space-between;
           padding-top: 50px;
       }
        .container{
        padding: 20px;
        margin: 20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
       }
       .button{
        padding:10px;
        border-radius:5px;
        color:#FFFFFF;
        background-color:#00BECF;
        border:0px;
        font-size: 20px;
        font-weight: bold;
       }
       select{
           border:1px solid #000000;
           padding: 14px;
           background-color: #FFFFFF; 
           width:30%;
           border-color: #000000;
           border-radius: 5px;
       }
       li{
           font-size: 20px;
       }
