        *{
                padding:0px;
                margin:0px;
                box-sizing: border-box;
         }
    .child{
    display: flex;
    flex-direction: column;
    align-items: center;      
}
.inpt{
    width:100%;
    font-size:20px;
    border-radius: 5px;
    border:1px solid #000000;
}
.one{
    width:100%;
    font-size:20px;
    border-radius: 5px;
    border:1px solid #000000;
    }
.frg-p{
    border-bottom: 2px solid #CDCDCD;
    padding-bottom: 3px;
}
.lgn{
    border-bottom: 3px solid #000000;
    padding-bottom: 3px;
}
.log-btn{
    background-color:#387FC7;
    color:#FFFFFF;
    padding:10px;
    border:0px;
    border-radius: 4px;
    font-weight: bold;
}
.container{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.65); 
    border-radius: 10px;
    position:absolute; 
    top:10%;
    left:10%;
    right:10%;
    bottom:10%;       
}
::-webkit-input-placeholder {
    color:  #000000;
    font-weight: bold;
}